// registry container, that is the contents of the registry
-i = 0
%table

  %tr
    - @gifts.each do |gift|

      -if i == 3
        %tr
        -i = 0
      -i = i + 1

      %td
  
        .item

          = link_to (image_tag gift.photo.url(:preview)), user_gift_path(@user,gift.id)

          .item_inner
            %h3= gift.name
            = link_to (image_tag("btn_share.png")), user_gift_path(@user,gift), alt: "Share Item"
            = link_to (image_tag("btn_details.png")), user_gift_path(@user,gift)
            = link_to (image_tag("btn_delete.png" )), gift_path(gift.id), 
                 data: {confirm: "Are you sure you want to remove this item?"}, 
                 method: :delete 
.clearer


