#item

  - if !gift.nil?
    = link_to (image_tag gift.photo.url(:preview)), user_gift_path(@user,gift.id)

    #item_inner style="background-position:50%, 50%; background-repeat:no-repeat;"
    // gift.description 
    = gift.name
    // path should be user_gift_share_path
    = link_to (image_tag("btn_share.png")), user_gift_path(@user,gift), alt: "Share Item"
    = link_to (image_tag("btn_details.png")), user_gift_path(@user,gift)
    = link_to (image_tag("btn_delete.png" )), gift_path(gift.id), 
             data: {confirm: "Are you sure you want to remove this item?"}, method: :delete 

  - else

    #item_inner {style="background:url(assets/items/item1.jpg); background-position:50%, 50%; background-repeat:no-repeat;"}
    #actions
      = link_to (image_tag("btn_details.png")), user_gift_path(@user,gift), alt: "Show Details / Edit Item"
      = link_to (image_tag("btn_share.png")), user_set_gift_path(@user, gift), alt: "Share Item"
      = link_to (image_tag("btn_delete.png")), gift_path(@user, gift), 
                data: {confirm: "Are you sure?"}, method: :delete


#clearer

