.title
  %h1= 'Your collections'
  %br

#li_body
  = render 'shared/sidebar'
  
#li_content

  -if @user.registries.empty?
    = render 'home/how'
  -else
    %h2= @registry.name

    -if @registry.gifts.empty?
      %h5= "This registry is empty, so you could delete it.  Better idea:  put something in it!"
      = button_to "Delete Registry", @registry, method: :delete, prompt: 'Sure?', remote: true
    -else
      %h3= "To Change Friends or Registry Click on Image"
      = render 'registry_container', :collection => @gifts

#clearer



