<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :idefaults %>
<%= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Idlika12 - <%= yield(:title) || 
  "the shopping and wish list resource - remember things you want, share them with your friends" %>
</title>


</head>

<body>

<div id="container">

  <%= render( :partial => '/shared/version')%>
  <%= render( :partial => '/shared/header')%>
  <%= render( :partial => '/shared/notices')%>

	<%= yield %>
	
  <%= render( :partial => '/shared/footer')%>
  <%= render( :partial => '/shared/analytics')%>
  <%= render( :partial => '/shared/facebook')%>

</div><!-- sp_container -->

</body>
</html>

